@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
    background: #1f242d;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin: 35px; 

}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li:hover a{
    color: #56db22;
    border: #fff 2px solid;
    border-radius: 35%;
    padding: 15px 15px;
}

.home {
    display: flex;
    align-items: center;
    height: 70rem;
    padding: 60px 9% 0;
    color: #fff;
}

.home-info h1 {
font-size: 55px;
}
.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
    color: ;
}
.home-info p {
    font-size: 16px;
    margin-top: 10px 0 24px;
    margin-bottom: 20px; 
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d ;
    font-size: 20px;
    font-weight: 600;
    color: #1f242d;
    transition: 0.5s;
}

.btn:hover {
    background: #fff;
    color: #7cf03d;
    box-shadow:#56db22;
    border-color: #fff;
}

.home-info .btn-sci .sci {
    margin-left: 20px;

}

.home-info .btn-sci .sci a {
    display: inline-block;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 40%;
    font-size: 22px;
    color: #7cf03d;
    margin: 0 8px;
    transition: 0.5s;
}

.home-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 9% 0;
    height: 60rem;
}

.home-info {
    width: 50%;
}

.image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image img {
    width: 650px;
    height: 500px;
    border-radius: 20px; /* Optional: Add rounded corners */
    margin: auto;
    border: solid 2px #fff; /* Optional: Add a border */
}